{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inciar Sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Su Nombre</label>
    <input name="username" id="username" required>
    <label for="gmail">Gmail</label>
    <input name="gmail" id="password" required>    
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <label for="repassword"> Confirmar Contraseña</label>
    <input type="password" name="repassword" id="repassword" required>
    <input type="submit" value="Inciar Sesión">


  </form>
{% endblock %}